In [2]:
import requests as req
import pandas as pd
import json

In [3]:
wiki_tab = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_India_by_population')

In [4]:
print (wiki_tab)

[        0                    1                    2                 3  \
0    Rank                 City  Population(2011)[3]  Population(2001)
1       1               Mumbai             12442373          11978450
2       2                Delhi             11007835           9879172
3       3            Bangalore              8436675           6537124
4       4            Hyderabad              6809970           3637483
5       5            Ahmedabad              5570585           3520085
6       6              Chennai              4681087           4343645
7       7              Kolkata              4486679           4301326
8       8                Surat              4467797           2433835
9       9                 Pune              3124458           2538473
10     10               Jaipur              3046163           2322575
11     11              Lucknow              2817105           2185927
12     12               Kanpur              2765348           2551337
13     13               Nagpur              2405665           2052066
14     14               Indore              1964086           1474968
15     15                Thane              1841488           1262551
16     16               Bhopal              1798218           1437354
17     17  Visakhapatnam[a][5]              1728128            982904
18     18     Pimpri-Chinchwad              1727692           1012472
19     19                Patna              1684222           1366444
20     20             Vadodara              1670806           1306227
21     21            Ghaziabad              1648643            968256
22     22             Ludhiana              1618879           1398467
23     23                 Agra              1585704           1275134
24     24               Nashik              1486053           1077236
25     25            Faridabad              1414050           1055938
26     26               Meerut              1305429           1039405
27     27               Rajkot              1286678            967476
28     28      Kalyan-Dombivli              1247327           1193512
29     29          Vasai-Virar              1222390            693350
..    ...                  ...                  ...               ...
270   270          Saharsa[21]               155175            125167
271   271             Hindupur               151835                 ―
272   272          Sasaram[22]               147396            131172
273   273          Hajipur[23]               147126            119412
274   274           Bhimavaram               142280                 ―
275   275           Kumbakonam               140056            144021
276   276            Dehri[22]               137068            119057
277   277          Madanapalle               135669                 ―
278   278            Siwan[24]               134458            109919
279   279          Bettiah[25]               132896            116670
280   280             Guntakal               126270                 ―
281   281           Srikakulam               125939                 ―
282   282         Motihari[26]               125183            100683
283   283          Dharmavaram               121874                 ―
284   284             Gudivada               118167                 ―
285   285             Phagwara               117966                 ―
286   286         Narasaraopet               116250                 ―
287   287             Suryapet               115250             94585
288   288          Miryalaguda               109891             91395
289   289            Tadipatri               108171                 ―
290   290       Kishanganj[27]               107076             85590
291   291            Karaikudi               106714             86596
292   292         Jamalpur[28]               105221             96983
293   293               Kavali               104000                 ―
294   294       Tadepalligudem               103906                 ―
295   295            Amaravati               103000                 ―
296   296            Buxar[29]               102591             83168
297   297        Jehanabad[30]               102456             81503
298   298       Aurangabad[31]               101520             79393
299   299              Gangtok               100286             29354

                            4
0    State or union territory
1                 Maharashtra
2                       Delhi
3                   Karnataka
4                   Telangana
5                     Gujarat
6                  Tamil Nadu
7                 West Bengal
8                     Gujarat
9                 Maharashtra
10                  Rajasthan
11              Uttar Pradesh
12              Uttar Pradesh
13                Maharashtra
14             Madhya Pradesh
15                Maharashtra
16             Madhya Pradesh
17             Andhra Pradesh
18                Maharashtra
19                      Bihar
20                    Gujarat
21              Uttar Pradesh
22                     Punjab
23              Uttar Pradesh
24                Maharashtra
25                    Haryana
26              Uttar Pradesh
27                    Gujarat
28                Maharashtra
29                Maharashtra
..                        ...
270                     Bihar
271            Andhra Pradesh
272                     Bihar
273                     Bihar
274            Andhra Pradesh
275                Tamil Nadu
276                     Bihar
277            Andhra Pradesh
278                     Bihar
279                     Bihar
280            Andhra Pradesh
281            Andhra Pradesh
282                     Bihar
283            Andhra Pradesh
284            Andhra Pradesh
285                    Punjab
286            Andhra Pradesh
287                 Telangana
288                 Telangana
289            Andhra Pradesh
290                     Bihar
291                Tamil Nadu
292                     Bihar
293            Andhra Pradesh
294            Andhra Pradesh
295            Andhra Pradesh
296                     Bihar
297                     Bihar
298                     Bihar
299                    Sikkim

[300 rows x 5 columns],                                   0  \
0  vtePopulation of cities in India
1         States/ Union Territories
2                     Related lists

                                                   1
0                                                NaN
1  Andhra Pradesh Assam Bihar Chhattisgarh Delhi ...
2  List of cities in India by population List of ...  ,                        0                                                  1
0  vteGeography of India                                                NaN
1                Climate                           Climate Climatic regions
2                Geology  Fossil Parks Geology of India Indian Plate Stones
3              Landforms  Beaches Canals Desert Extreme points Glaciers ...
4                Regions  North India Northeast India East India South I...
5           Subdivisions  States and territories Autonomous administrati...
6            Environment  Biogeographic classification Ecoregions Fauna ...]

In [5]:
df = pd.DataFrame(wiki_tab[0])

In [6]:
df.head()

,0,1,2,3,4
0,Rank,City,Population(2011)[3],Population(2001),State or union territory
1,1,Mumbai,12442373,11978450,Maharashtra
2,2,Delhi,11007835,9879172,Delhi
3,3,Bangalore,8436675,6537124,Karnataka
4,4,Hyderabad,6809970,3637483,Telangana

In [7]:
df.columns = ['rank', 'city', 'population_11', 'population_01', 'state']

In [8]:
df = df.drop([0])

In [9]:
df.head()

  rank       city population_11 population_01        state
1    1     Mumbai      12442373      11978450  Maharashtra
2    2      Delhi      11007835       9879172        Delhi
3    3  Bangalore       8436675       6537124    Karnataka
4    4  Hyderabad       6809970       3637483    Telangana
5    5  Ahmedabad       5570585       3520085      Gujarat

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 1 to 299
Data columns (total 5 columns):
rank             299 non-null object
city             299 non-null object
population_11    299 non-null object
population_01    299 non-null object
state            299 non-null object
dtypes: object(5)
memory usage: 14.0+ KB

In [11]:
Top_city = df['city'][0:50]
Top_city.dtype

dtype('O')

In [51]:
key = 'e853da8a71f32a9a4f71fafca2a8ca7a'

key2 = '1a3795c3407c047c44350035ff7f7c94'

base = 'http://api.openweathermap.org/data/2.5/forecast?'

city = 'Delhi'

In [52]:
URL = base + "appid=" + key + "&q=" + city
url = base + "appid=" + key2 + "&q=" + city

In [53]:
weather = req.get(URL).json()

In [17]:
df1 = pd.DataFrame(pd.Series(weather))

In [20]:
df1.head()

                                                         0
cod                                                    200
message                                             0.0072
cnt                                                     40
list     [{'dt': 1565125200, 'main': {'temp': 301.84, '...
city     {'id': 1273294, 'name': 'Delhi', 'coord': {'la...

In [41]:
import json  
import pandas as pd  
from pandas.io.json import json_normalize

In [60]:
from pprint import pprint, pformat

In [58]:
x = pprint(weather)

{'city': {'coord': {'lat': 28.6517, 'lon': 77.2219},
          'country': 'IN',
          'id': 1273294,
          'name': 'Delhi',
          'population': 10927986,
          'timezone': 19800},
 'cnt': 40,
 'cod': '200',
 'list': [{'clouds': {'all': 10},
           'dt': 1565125200,
           'dt_txt': '2019-08-06 21:00:00',
           'main': {'grnd_level': 969.68,
                    'humidity': 65,
                    'pressure': 994.45,
                    'sea_level': 994.45,
                    'temp': 301.56,
                    'temp_kf': -2.23,
                    'temp_max': 303.796,
                    'temp_min': 301.56},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'clear sky',
                        'icon': '01n',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 155.702, 'speed': 1.72}},
          {'clouds': {'all': 10},
           'dt': 1565136000,
           'dt_txt': '2019-08-07 00:00:00',
           'main': {'grnd_level': 969.55,
                    'humidity': 65,
                    'pressure': 994.19,
                    'sea_level': 994.19,
                    'temp': 301.93,
                    'temp_kf': -1.67,
                    'temp_max': 303.602,
                    'temp_min': 301.93},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'clear sky',
                        'icon': '01n',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 174.173, 'speed': 1.27}},
          {'clouds': {'all': 53},
           'dt': 1565146800,
           'dt_txt': '2019-08-07 03:00:00',
           'main': {'grnd_level': 970.62,
                    'humidity': 54,
                    'pressure': 995.47,
                    'sea_level': 995.47,
                    'temp': 304.89,
                    'temp_kf': -1.12,
                    'temp_max': 306.004,
                    'temp_min': 304.89},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 277.059, 'speed': 1.83}},
          {'clouds': {'all': 70},
           'dt': 1565157600,
           'dt_txt': '2019-08-07 06:00:00',
           'main': {'grnd_level': 970.37,
                    'humidity': 39,
                    'pressure': 994.88,
                    'sea_level': 994.88,
                    'temp': 310.1,
                    'temp_kf': -0.56,
                    'temp_max': 310.656,
                    'temp_min': 310.1},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 356.087, 'speed': 1.35}},
          {'clouds': {'all': 94},
           'dt': 1565168400,
           'dt_txt': '2019-08-07 09:00:00',
           'main': {'grnd_level': 967.63,
                    'humidity': 32,
                    'pressure': 992.08,
                    'sea_level': 992.08,
                    'temp': 312.7,
                    'temp_kf': 0,
                    'temp_max': 312.7,
                    'temp_min': 312.7},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 102.471, 'speed': 2.35}},
          {'clouds': {'all': 89},
           'dt': 1565179200,
           'dt_txt': '2019-08-07 12:00:00',
           'main': {'grnd_level': 966.55,
                    'humidity': 36,
                    'pressure': 990.21,
                    'sea_level': 990.21,
                    'temp': 311.405,
                    'temp_kf': 0,
                    'temp_max': 311.405,
                    'temp_min': 311.405},
           'rain': {'3h': 0.062},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'light rain',
                        'icon': '10d',
                        'id': 500,
                        'main': 'Rain'}],
           'wind': {'deg': 124.275, 'speed': 3.7}},
          {'clouds': {'all': 17},
           'dt': 1565190000,
           'dt_txt': '2019-08-07 15:00:00',
           'main': {'grnd_level': 967.38,
                    'humidity': 41,
                    'pressure': 991.25,
                    'sea_level': 991.25,
                    'temp': 309.321,
                    'temp_kf': 0,
                    'temp_max': 309.321,
                    'temp_min': 309.321},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'few clouds',
                        'icon': '02n',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 131.877, 'speed': 2.52}},
          {'clouds': {'all': 8},
           'dt': 1565200800,
           'dt_txt': '2019-08-07 18:00:00',
           'main': {'grnd_level': 969.73,
                    'humidity': 49,
                    'pressure': 993.7,
                    'sea_level': 993.7,
                    'temp': 307.222,
                    'temp_kf': 0,
                    'temp_max': 307.222,
                    'temp_min': 307.222},
           'rain': {'3h': 1.625},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'light rain',
                        'icon': '10n',
                        'id': 500,
                        'main': 'Rain'}],
           'wind': {'deg': 109.262, 'speed': 5.26}},
          {'clouds': {'all': 76},
           'dt': 1565211600,
           'dt_txt': '2019-08-07 21:00:00',
           'main': {'grnd_level': 968.63,
                    'humidity': 59,
                    'pressure': 993.23,
                    'sea_level': 993.23,
                    'temp': 305.489,
                    'temp_kf': 0,
                    'temp_max': 305.489,
                    'temp_min': 305.489},
           'rain': {'3h': 0.5},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'light rain',
                        'icon': '10n',
                        'id': 500,
                        'main': 'Rain'}],
           'wind': {'deg': 129.263, 'speed': 3.5}},
          {'clouds': {'all': 88},
           'dt': 1565222400,
           'dt_txt': '2019-08-08 00:00:00',
           'main': {'grnd_level': 969.3,
                    'humidity': 64,
                    'pressure': 994.12,
                    'sea_level': 994.12,
                    'temp': 304.374,
                    'temp_kf': 0,
                    'temp_max': 304.374,
                    'temp_min': 304.374},
           'rain': {},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04n',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 115.74, 'speed': 4.82}},
          {'clouds': {'all': 39},
           'dt': 1565233200,
           'dt_txt': '2019-08-08 03:00:00',
           'main': {'grnd_level': 970.39,
                    'humidity': 57,
                    'pressure': 995.35,
                    'sea_level': 995.35,
                    'temp': 305.625,
                    'temp_kf': 0,
                    'temp_max': 305.625,
                    'temp_min': 305.625},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03d',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 124.431, 'speed': 4.85}},
          {'clouds': {'all': 20},
           'dt': 1565244000,
           'dt_txt': '2019-08-08 06:00:00',
           'main': {'grnd_level': 970.91,
                    'humidity': 45,
                    'pressure': 996.12,
                    'sea_level': 996.12,
                    'temp': 309.143,
                    'temp_kf': 0,
                    'temp_max': 309.143,
                    'temp_min': 309.143},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'few clouds',
                        'icon': '02d',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 122.605, 'speed': 5.64}},
          {'clouds': {'all': 23},
           'dt': 1565254800,
           'dt_txt': '2019-08-08 09:00:00',
           'main': {'grnd_level': 969.27,
                    'humidity': 45,
                    'pressure': 994.33,
                    'sea_level': 994.33,
                    'temp': 309.716,
                    'temp_kf': 0,
                    'temp_max': 309.716,
                    'temp_min': 309.716},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'few clouds',
                        'icon': '02d',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 123.968, 'speed': 5.38}},
          {'clouds': {'all': 47},
           'dt': 1565265600,
           'dt_txt': '2019-08-08 12:00:00',
           'main': {'grnd_level': 968.27,
                    'humidity': 47,
                    'pressure': 993.02,
                    'sea_level': 993.02,
                    'temp': 308.1,
                    'temp_kf': 0,
                    'temp_max': 308.1,
                    'temp_min': 308.1},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03d',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 112.893, 'speed': 5.98}},
          {'clouds': {'all': 91},
           'dt': 1565276400,
           'dt_txt': '2019-08-08 15:00:00',
           'main': {'grnd_level': 969.71,
                    'humidity': 52,
                    'pressure': 994.59,
                    'sea_level': 994.59,
                    'temp': 305.943,
                    'temp_kf': 0,
                    'temp_max': 305.943,
                    'temp_min': 305.943},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04n',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 98.452, 'speed': 5.21}},
          {'clouds': {'all': 90},
           'dt': 1565287200,
           'dt_txt': '2019-08-08 18:00:00',
           'main': {'grnd_level': 971.01,
                    'humidity': 56,
                    'pressure': 995.62,
                    'sea_level': 995.62,
                    'temp': 304.706,
                    'temp_kf': 0,
                    'temp_max': 304.706,
                    'temp_min': 304.706},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04n',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 109.082, 'speed': 4.62}},
          {'clouds': {'all': 31},
           'dt': 1565298000,
           'dt_txt': '2019-08-08 21:00:00',
           'main': {'grnd_level': 970.18,
                    'humidity': 56,
                    'pressure': 995.1,
                    'sea_level': 995.1,
                    'temp': 304.278,
                    'temp_kf': 0,
                    'temp_max': 304.278,
                    'temp_min': 304.278},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 109.097, 'speed': 5.15}},
          {'clouds': {'all': 31},
           'dt': 1565308800,
           'dt_txt': '2019-08-09 00:00:00',
           'main': {'grnd_level': 970.19,
                    'humidity': 60,
                    'pressure': 995.16,
                    'sea_level': 995.16,
                    'temp': 303.125,
                    'temp_kf': 0,
                    'temp_max': 303.125,
                    'temp_min': 303.125},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 95.723, 'speed': 5.75}},
          {'clouds': {'all': 61},
           'dt': 1565319600,
           'dt_txt': '2019-08-09 03:00:00',
           'main': {'grnd_level': 971.47,
                    'humidity': 54,
                    'pressure': 996.66,
                    'sea_level': 996.66,
                    'temp': 304.426,
                    'temp_kf': 0,
                    'temp_max': 304.426,
                    'temp_min': 304.426},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 96.412, 'speed': 8.1}},
          {'clouds': {'all': 80},
           'dt': 1565330400,
           'dt_txt': '2019-08-09 06:00:00',
           'main': {'grnd_level': 972.37,
                    'humidity': 52,
                    'pressure': 997.26,
                    'sea_level': 997.26,
                    'temp': 305.35,
                    'temp_kf': 0,
                    'temp_max': 305.35,
                    'temp_min': 305.35},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 96.715, 'speed': 6.7}},
          {'clouds': {'all': 98},
           'dt': 1565341200,
           'dt_txt': '2019-08-09 09:00:00',
           'main': {'grnd_level': 970.1,
                    'humidity': 45,
                    'pressure': 995.08,
                    'sea_level': 995.08,
                    'temp': 308.065,
                    'temp_kf': 0,
                    'temp_max': 308.065,
                    'temp_min': 308.065},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 86.711, 'speed': 7.15}},
          {'clouds': {'all': 93},
           'dt': 1565352000,
           'dt_txt': '2019-08-09 12:00:00',
           'main': {'grnd_level': 968.63,
                    'humidity': 45,
                    'pressure': 993.42,
                    'sea_level': 993.42,
                    'temp': 308.065,
                    'temp_kf': 0,
                    'temp_max': 308.065,
                    'temp_min': 308.065},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 85.103, 'speed': 7.58}},
          {'clouds': {'all': 63},
           'dt': 1565362800,
           'dt_txt': '2019-08-09 15:00:00',
           'main': {'grnd_level': 970.29,
                    'humidity': 50,
                    'pressure': 994.97,
                    'sea_level': 994.97,
                    'temp': 306.243,
                    'temp_kf': 0,
                    'temp_max': 306.243,
                    'temp_min': 306.243},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04n',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 95.139, 'speed': 5.68}},
          {'clouds': {'all': 40},
           'dt': 1565373600,
           'dt_txt': '2019-08-09 18:00:00',
           'main': {'grnd_level': 971.38,
                    'humidity': 56,
                    'pressure': 996.2,
                    'sea_level': 996.2,
                    'temp': 304.993,
                    'temp_kf': 0,
                    'temp_max': 304.993,
                    'temp_min': 304.993},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 94.283, 'speed': 6.37}},
          {'clouds': {'all': 0},
           'dt': 1565384400,
           'dt_txt': '2019-08-09 21:00:00',
           'main': {'grnd_level': 970.71,
                    'humidity': 62,
                    'pressure': 995.52,
                    'sea_level': 995.52,
                    'temp': 303.367,
                    'temp_kf': 0,
                    'temp_max': 303.367,
                    'temp_min': 303.367},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'clear sky',
                        'icon': '01n',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 106.635, 'speed': 6.64}},
          {'clouds': {'all': 17},
           'dt': 1565395200,
           'dt_txt': '2019-08-10 00:00:00',
           'main': {'grnd_level': 970.64,
                    'humidity': 64,
                    'pressure': 995.67,
                    'sea_level': 995.67,
                    'temp': 302.855,
                    'temp_kf': 0,
                    'temp_max': 302.855,
                    'temp_min': 302.855},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'few clouds',
                        'icon': '02n',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 102.431, 'speed': 6.85}},
          {'clouds': {'all': 89},
           'dt': 1565406000,
           'dt_txt': '2019-08-10 03:00:00',

           'main': {'grnd_level': 971.95,
                    'humidity': 65,
                    'pressure': 996.77,
                    'sea_level': 996.77,
                    'temp': 302.67,
                    'temp_kf': 0,
                    'temp_max': 302.67,
                    'temp_min': 302.67},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 103.608, 'speed': 6.78}},
          {'clouds': {'all': 61},
           'dt': 1565416800,
           'dt_txt': '2019-08-10 06:00:00',
           'main': {'grnd_level': 972.11,
                    'humidity': 46,
                    'pressure': 996.97,
                    'sea_level': 996.97,
                    'temp': 307.682,
                    'temp_kf': 0,
                    'temp_max': 307.682,
                    'temp_min': 307.682},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 109.794, 'speed': 7.62}},
          {'clouds': {'all': 20},
           'dt': 1565427600,
           'dt_txt': '2019-08-10 09:00:00',
           'main': {'grnd_level': 970,
                    'humidity': 39,
                    'pressure': 994.77,
                    'sea_level': 994.77,
                    'temp': 309.96,
                    'temp_kf': 0,
                    'temp_max': 309.96,
                    'temp_min': 309.96},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'few clouds',
                        'icon': '02d',
                        'id': 801,
                        'main': 'Clouds'}],
           'wind': {'deg': 113.269, 'speed': 7.95}},
          {'clouds': {'all': 51},
           'dt': 1565438400,
           'dt_txt': '2019-08-10 12:00:00',
           'main': {'grnd_level': 969.62,
                    'humidity': 45,
                    'pressure': 994.13,
                    'sea_level': 994.13,
                    'temp': 307.932,
                    'temp_kf': 0,
                    'temp_max': 307.932,
                    'temp_min': 307.932},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 117.288, 'speed': 5}},
          {'clouds': {'all': 49},
           'dt': 1565449200,
           'dt_txt': '2019-08-10 15:00:00',
           'main': {'grnd_level': 971.25,
                    'humidity': 50,
                    'pressure': 995.67,
                    'sea_level': 995.67,
                    'temp': 305.977,
                    'temp_kf': 0,
                    'temp_max': 305.977,
                    'temp_min': 305.977},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 135.387, 'speed': 4.82}},
          {'clouds': {'all': 27},
           'dt': 1565460000,
           'dt_txt': '2019-08-10 18:00:00',
           'main': {'grnd_level': 973.14,
                    'humidity': 62,
                    'pressure': 997.48,
                    'sea_level': 997.48,
                    'temp': 303.4,
                    'temp_kf': 0,
                    'temp_max': 303.4,
                    'temp_min': 303.4},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 170.233, 'speed': 4.46}},
          {'clouds': {'all': 0},
           'dt': 1565470800,
           'dt_txt': '2019-08-10 21:00:00',
           'main': {'grnd_level': 972.66,
                    'humidity': 69,
                    'pressure': 997.13,
                    'sea_level': 997.13,
                    'temp': 301.9,
                    'temp_kf': 0,
                    'temp_max': 301.9,
                    'temp_min': 301.9},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'clear sky',
                        'icon': '01n',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 167.995, 'speed': 3.72}},
          {'clouds': {'all': 0},
           'dt': 1565481600,
           'dt_txt': '2019-08-11 00:00:00',
           'main': {'grnd_level': 973.37,
                    'humidity': 71,
                    'pressure': 998.05,
                    'sea_level': 998.05,
                    'temp': 301.278,
                    'temp_kf': 0,
                    'temp_max': 301.278,
                    'temp_min': 301.278},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'clear sky',
                        'icon': '01n',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 152.941, 'speed': 3.11}},
          {'clouds': {'all': 0},
           'dt': 1565492400,
           'dt_txt': '2019-08-11 03:00:00',
           'main': {'grnd_level': 973.92,
                    'humidity': 63,
                    'pressure': 998.85,
                    'sea_level': 998.85,
                    'temp': 303.4,
                    'temp_kf': 0,
                    'temp_max': 303.4,
                    'temp_min': 303.4},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'clear sky',
                        'icon': '01d',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 163.882, 'speed': 3.15}},
          {'clouds': {'all': 0},
           'dt': 1565503200,
           'dt_txt': '2019-08-11 06:00:00',
           'main': {'grnd_level': 974.16,
                    'humidity': 47,
                    'pressure': 998.91,
                    'sea_level': 998.91,
                    'temp': 307.7,
                    'temp_kf': 0,
                    'temp_max': 307.7,
                    'temp_min': 307.7},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'clear sky',
                        'icon': '01d',
                        'id': 800,
                        'main': 'Clear'}],
           'wind': {'deg': 157.33, 'speed': 3.61}},
          {'clouds': {'all': 43},
           'dt': 1565514000,
           'dt_txt': '2019-08-11 09:00:00',
           'main': {'grnd_level': 971.89,
                    'humidity': 43,
                    'pressure': 996.35,
                    'sea_level': 996.35,
                    'temp': 309.168,
                    'temp_kf': 0,
                    'temp_max': 309.168,
                    'temp_min': 309.168},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03d',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 169.427, 'speed': 2.99}},
          {'clouds': {'all': 62},
           'dt': 1565524800,
           'dt_txt': '2019-08-11 12:00:00',
           'main': {'grnd_level': 970.67,
                    'humidity': 40,
                    'pressure': 995.01,
                    'sea_level': 995.01,
                    'temp': 309.602,
                    'temp_kf': 0,
                    'temp_max': 309.602,
                    'temp_min': 309.602},
           'sys': {'pod': 'd'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 188.818, 'speed': 2.41}},
          {'clouds': {'all': 47},
           'dt': 1565535600,
           'dt_txt': '2019-08-11 15:00:00',
           'main': {'grnd_level': 971.43,
                    'humidity': 45,
                    'pressure': 995.86,
                    'sea_level': 995.86,
                    'temp': 307.814,
                    'temp_kf': 0,
                    'temp_max': 307.814,
                    'temp_min': 307.814},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03n',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 181.999, 'speed': 2.47}},
          {'clouds': {'all': 53},
           'dt': 1565546400,
           'dt_txt': '2019-08-11 18:00:00',
           'main': {'grnd_level': 972.87,
                    'humidity': 52,
                    'pressure': 997.39,
                    'sea_level': 997.39,
                    'temp': 305.906,
                    'temp_kf': 0,
                    'temp_max': 305.906,
                    'temp_min': 305.906},
           'sys': {'pod': 'n'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04n',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 230.136, 'speed': 3.65}}],
 'message': 0.0074}

In [83]:
y = json_normalize(weather['list'])
y

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,sys.pod,weather,wind.deg,wind.speed
0,10,1565125200,2019-08-06 21:00:00,969.68,65,994.45,994.45,301.560,-2.23,303.796,301.560,NaN,n,"[{'id': 800, 'main': 'Clear', 'description': '...",155.702,1.72
1,10,1565136000,2019-08-07 00:00:00,969.55,65,994.19,994.19,301.930,-1.67,303.602,301.930,NaN,n,"[{'id': 800, 'main': 'Clear', 'description': '...",174.173,1.27
2,53,1565146800,2019-08-07 03:00:00,970.62,54,995.47,995.47,304.890,-1.12,306.004,304.890,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",277.059,1.83
3,70,1565157600,2019-08-07 06:00:00,970.37,39,994.88,994.88,310.100,-0.56,310.656,310.100,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",356.087,1.35
4,94,1565168400,2019-08-07 09:00:00,967.63,32,992.08,992.08,312.700,0.00,312.700,312.700,NaN,d,"[{'id': 804, 'main': 'Clouds', 'description': ...",102.471,2.35
5,89,1565179200,2019-08-07 12:00:00,966.55,36,990.21,990.21,311.405,0.00,311.405,311.405,0.062,d,"[{'id': 500, 'main': 'Rain', 'description': 'l...",124.275,3.70
6,17,1565190000,2019-08-07 15:00:00,967.38,41,991.25,991.25,309.321,0.00,309.321,309.321,NaN,n,"[{'id': 801, 'main': 'Clouds', 'description': ...",131.877,2.52
7,8,1565200800,2019-08-07 18:00:00,969.73,49,993.70,993.70,307.222,0.00,307.222,307.222,1.625,n,"[{'id': 500, 'main': 'Rain', 'description': 'l...",109.262,5.26
8,76,1565211600,2019-08-07 21:00:00,968.63,59,993.23,993.23,305.489,0.00,305.489,305.489,0.500,n,"[{'id': 500, 'main': 'Rain', 'description': 'l...",129.263,3.50
9,88,1565222400,2019-08-08 00:00:00,969.30,64,994.12,994.12,304.374,0.00,304.374,304.374,NaN,n,"[{'id': 804, 'main': 'Clouds', 'description': ...",115.740,4.82
10,39,1565233200,2019-08-08 03:00:00,970.39,57,995.35,995.35,305.625,0.00,305.625,305.625,NaN,d,"[{'id': 802, 'main': 'Clouds', 'description': ...",124.431,4.85
11,20,1565244000,2019-08-08 06:00:00,970.91,45,996.12,996.12,309.143,0.00,309.143,309.143,NaN,d,"[{'id': 801, 'main': 'Clouds', 'description': ...",122.605,5.64
12,23,1565254800,2019-08-08 09:00:00,969.27,45,994.33,994.33,309.716,0.00,309.716,309.716,NaN,d,"[{'id': 801, 'main': 'Clouds', 'description': ...",123.968,5.38
13,47,1565265600,2019-08-08 12:00:00,968.27,47,993.02,993.02,308.100,0.00,308.100,308.100,NaN,d,"[{'id': 802, 'main': 'Clouds', 'description': ...",112.893,5.98
14,91,1565276400,2019-08-08 15:00:00,969.71,52,994.59,994.59,305.943,0.00,305.943,305.943,NaN,n,"[{'id': 804, 'main': 'Clouds', 'description': ...",98.452,5.21
15,90,1565287200,2019-08-08 18:00:00,971.01,56,995.62,995.62,304.706,0.00,304.706,304.706,NaN,n,"[{'id': 804, 'main': 'Clouds', 'description': ...",109.082,4.62
16,31,1565298000,2019-08-08 21:00:00,970.18,56,995.10,995.10,304.278,0.00,304.278,304.278,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",109.097,5.15
17,31,1565308800,2019-08-09 00:00:00,970.19,60,995.16,995.16,303.125,0.00,303.125,303.125,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",95.723,5.75
18,61,1565319600,2019-08-09 03:00:00,971.47,54,996.66,996.66,304.426,0.00,304.426,304.426,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",96.412,8.10
19,80,1565330400,2019-08-09 06:00:00,972.37,52,997.26,997.26,305.350,0.00,305.350,305.350,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",96.715,6.70
20,98,1565341200,2019-08-09 09:00:00,970.10,45,995.08,995.08,308.065,0.00,308.065,308.065,NaN,d,"[{'id': 804, 'main': 'Clouds', 'description': ...",86.711,7.15
21,93,1565352000,2019-08-09 12:00:00,968.63,45,993.42,993.42,308.065,0.00,308.065,308.065,NaN,d,"[{'id': 804, 'main': 'Clouds', 'description': ...",85.103,7.58
22,63,1565362800,2019-08-09 15:00:00,970.29,50,994.97,994.97,306.243,0.00,306.243,306.243,NaN,n,"[{'id': 803, 'main': 'Clouds', 'description': ...",95.139,5.68
23,40,1565373600,2019-08-09 18:00:00,971.38,56,996.20,996.20,304.993,0.00,304.993,304.993,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",94.283,6.37
24,0,1565384400,2019-08-09 21:00:00,970.71,62,995.52,995.52,303.367,0.00,303.367,303.367,NaN,n,"[{'id': 800, 'main': 'Clear', 'description': '...",106.635,6.64
25,17,1565395200,2019-08-10 00:00:00,970.64,64,995.67,995.67,302.855,0.00,302.855,302.855,NaN,n,"[{'id': 801, 'main': 'Clouds', 'description': ...",102.431,6.85
26,89,1565406000,2019-08-10 03:00:00,971.95,65,996.77,996.77,302.670,0.00,302.670,302.670,NaN,d,"[{'id': 804, 'main': 'Clouds', 'description': ...",103.608,6.78
27,61,1565416800,2019-08-10 06:00:00,972.11,46,996.97,996.97,307.682,0.00,307.682,307.682,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",109.794,7.62
28,20,1565427600,2019-08-10 09:00:00,970.00,39,994.77,994.77,309.960,0.00,309.960,309.960,NaN,d,"[{'id': 801, 'main': 'Clouds', 'description': ...",113.269,7.95
29,51,1565438400,2019-08-10 12:00:00,969.62,45,994.13,994.13,307.932,0.00,307.932,307.932,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",117.288,5.00
30,49,1565449200,2019-08-10 15:00:00,971.25,50,995.67,995.67,305.977,0.00,305.977,305.977,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",135.387,4.82
31,27,1565460000,2019-08-10 18:00:00,973.14,62,997.48,997.48,303.400,0.00,303.400,303.400,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",170.233,4.46
32,0,1565470800,2019-08-10 21:00:00,972.66,69,997.13,997.13,301.900,0.00,301.900,301.900,NaN,n,"[{'id': 800, 'main': 'Clear', 'description': '...",167.995,3.72
33,0,1565481600,2019-08-11 00:00:00,973.37,71,998.05,998.05,301.278,0.00,301.278,301.278,NaN,n,"[{'id': 800, 'main': 'Clear', 'description': '...",152.941,3.11
34,0,1565492400,2019-08-11 03:00:00,973.92,63,998.85,998.85,303.400,0.00,303.400,303.400,NaN,d,"[{'id': 800, 'main': 'Clear', 'description': '...",163.882,3.15
35,0,1565503200,2019-08-11 06:00:00,974.16,47,998.91,998.91,307.700,0.00,307.700,307.700,NaN,d,"[{'id': 800, 'main': 'Clear', 'description': '...",157.330,3.61
36,43,1565514000,2019-08-11 09:00:00,971.89,43,996.35,996.35,309.168,0.00,309.168,309.168,NaN,d,"[{'id': 802, 'main': 'Clouds', 'description': ...",169.427,2.99
37,62,1565524800,2019-08-11 12:00:00,970.67,40,995.01,995.01,309.602,0.00,309.602,309.602,NaN,d,"[{'id': 803, 'main': 'Clouds', 'description': ...",188.818,2.41
38,47,1565535600,2019-08-11 15:00:00,971.43,45,995.86,995.86,307.814,0.00,307.814,307.814,NaN,n,"[{'id': 802, 'main': 'Clouds', 'description': ...",181.999,2.47
39,53,1565546400,2019-08-11 18:00:00,972.87,52,997.39,997.39,305.906,0.00,305.906,305.906,NaN,n,"[{'id': 803, 'main': 'Clouds', 'description': ...",230.136,3.65

In [91]:
z = json_normalize(data = weather['list'],record_path =['weather'], meta = ['dt'])

In [95]:
y['city'] = 'Delhi'
forcast = pd.merge(y,z, on = 'dt')
newf = forcast.drop('weather', axis=1)
newf.head()

,clouds.all,dt,dt_txt,main.grnd_level,main.humidity,main.pressure,main.sea_level,main.temp,main.temp_kf,main.temp_max,main.temp_min,rain.3h,sys.pod,wind.deg,wind.speed,city,description,icon,id,main
0,10,1565125200,2019-08-06 21:00:00,969.68,65,994.45,994.45,301.56,-2.23,303.796,301.56,NaN,n,155.702,1.72,Delhi,clear sky,01n,800,Clear
1,10,1565136000,2019-08-07 00:00:00,969.55,65,994.19,994.19,301.93,-1.67,303.602,301.93,NaN,n,174.173,1.27,Delhi,clear sky,01n,800,Clear
2,53,1565146800,2019-08-07 03:00:00,970.62,54,995.47,995.47,304.89,-1.12,306.004,304.89,NaN,d,277.059,1.83,Delhi,broken clouds,04d,803,Clouds
3,70,1565157600,2019-08-07 06:00:00,970.37,39,994.88,994.88,310.10,-0.56,310.656,310.10,NaN,d,356.087,1.35,Delhi,broken clouds,04d,803,Clouds
4,94,1565168400,2019-08-07 09:00:00,967.63,32,992.08,992.08,312.70,0.00,312.700,312.70,NaN,d,102.471,2.35,Delhi,overcast clouds,04d,804,Clouds